In [3]:
!pip install pandasql

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.14)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->pandasql) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->pandasql) (3.4.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-cp37-none-any.whl size=26820 sha256=1762c3bd7009d79410001f8615da77a37ada79bc2a5f06348f80cab7bc504570
  Stored in directory: /root/.cache/pip/wheels/53/6c/18/b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [4]:
import pandas as pd
import os
from pandasql import sqldf
import sqlite3

In [5]:
pysqldf = lambda q: sqldf(q, globals())

In [7]:
dataset=pd.read_excel("Survey_Data.xlsx")
dataset

     Respondent ID  ... Question 30-Response 3
0       5379192392  ...                    NaN
1       2658722536  ...               Answer 1
2       4044163394  ...                    NaN
3       5535865599  ...               Answer 6
4       3356802928  ...               Answer 8
..             ...  ...                    ...
193     7940065082  ...               Answer 8
194     5157705612  ...               Answer 6
195     9920755555  ...                    NaN
196     6638341389  ...                    NaN
197     8114622230  ...                    NaN

[198 rows x 100 columns]

In [10]:
dataset_modified=dataset.copy() #creating a copu of the original dataframe

In [12]:
drop_col=['Start Date', 'End Date', 'Email Address','First Name', 'Last Name', 'Custom Data 1']
drop_col

['Start Date',
 'End Date',
 'Email Address',
 'First Name',
 'Last Name',
 'Custom Data 1']

In [13]:
dataset_modified.drop(columns=drop_col,axis=1,inplace=True)
dataset_modified

In [20]:
id_vars=list(dataset_modified.columns[:8])
value_vars=list(dataset_modified.columns[8:])

In [21]:
value_vars

['Question 1-Response',
 'Question 2-Response',
 'Question 3-Open-Ended Response',
 'Question 4-Response',
 'Question 4-Other (please specify)',
 'Question 5-Response 1',
 'Question 5-Response 2',
 'Question 5-Response 3',
 'Question 5-Response 4',
 'Question 5-Response 5',
 'Question 5-Response 6',
 'Question 6-Response 1',
 'Question 6-Response 2',
 'Question 6-Response 3',
 'Question 6-Response 4',
 'Question 6-Response 5',
 'Question 6-Response 6',
 'Question 7-Response 1',
 'Question 7-Unscheduled',
 'Question 8-Response 1',
 'Question 8-Response 2',
 'Question 8-Response 3',
 'Question 8-Response 4',
 'Question 9-Response 1',
 'Question 9-Response 2',
 'Question 9-Response 3',
 'Question 9-Response 4',
 'Question 10-Response 1',
 'Question 10-Response 2',
 'Question 10-Response 3',
 'Question 10-Response 4',
 'Question 10-Response 5',
 'Question 11-Reponse 1',
 'Question 11-Response 2',
 'Question 12-Response',
 'Question 13-Response',
 'Question 14-Response',
 'Question 15-Response',
 'Question 16-Response',
 'Question 17-Response',
 'Question 18-Response',
 'Question 19-Response',
 'Question 19-Other (please specify)',
 'Question 20-Response',
 'Question 21-Response',
 'Question 22-Reponse 1',
 'Question 22-Reponse 2',
 'Question 23-Response',
 'Question 24-Response 1',
 'Question 24-Response 2',
 'Question 24-Response 3',
 'Question 24-Response 4',
 'Question 24-Response 5',
 'Question 25-Response 1',
 'Question 25-Response 2',
 'Question 25-Response 3',
 'Question 25-Response 4',
 'Question 25-Response 5',
 'Question 25-Response 6',
 'Question 25-Response 7',
 'Question 25-Response 8',
 'Question 25-Response 9',
 'Question 26-Response 1',
 'Question 26-Response 2',
 'Question 26-Response 3',
 'Question 26-Response 4',
 'Question 27-Response 1',
 'Question 27-Response 2',
 'Question 28-Response',
 'Question 29-Response 1',
 'Question 29-Response 2',
 'Question 29-Response 3',
 'Question 29-Response 4',
 'Question 29-Response 5',
 'Question 29-Response 6',
 'Question 29-Response 7',
 'Question 29-Response 8',
 'Question 29-Response 9',
 'Question 29-Response 10',
 'Question 29-Response 11',
 'Question 29-Response 12',
 'Question 29-Response 13',
 'Question 29-Response 14',
 'Question 30-Response 1',
 'Question 30-Response 2',
 'Question 30-Response 3']

In [48]:
dataset_melted=pd.melt(dataset_modified,id_vars=id_vars,value_vars=value_vars,var_name='Question + Subquestion',value_name='Answer')
dataset_melted.sort_values(by=['Respondent ID','Question + Subquestion'])

      Respondent ID  ...    Answer
181      1001882880  ...  Answer 7
5527     1001882880  ...       NaN
5725     1001882880  ...  Answer 8
5923     1001882880  ...  Answer 4
6121     1001882880  ...       NaN
...             ...  ...       ...
4438     9983361274  ...  Answer 8
4636     9983361274  ...       NaN
4834     9983361274  ...       NaN
5032     9983361274  ...       NaN
5230     9983361274  ...  Answer 6

[17028 rows x 10 columns]

In [29]:
questions_import=pd.read_excel("Survey_Data.xlsx",sheet_name="Question")
questions_import

     Raw Question Raw Subquestion  ...  Subquestion     Question + Subquestion
0   Respondent ID             NaN  ...          NaN              Respondent ID
1      Start Date             NaN  ...          NaN                 Start Date
2        End Date             NaN  ...          NaN                   End Date
3   Email Address             NaN  ...          NaN              Email Address
4      First Name             NaN  ...          NaN                 First Name
..            ...             ...  ...          ...                        ...
95            NaN     Response 13  ...  Response 13  Question 29 - Response 13
96            NaN     Response 14  ...  Response 14  Question 29 - Response 14
97    Question 30      Response 1  ...   Response 1   Question 30 - Response 1
98            NaN      Response 2  ...   Response 2   Question 30 - Response 2
99            NaN      Response 3  ...   Response 3   Question 30 - Response 3

[100 rows x 5 columns]

In [32]:
questions=questions_import.copy()
questions.drop(columns=["Raw Question","Raw Subquestion","Subquestion"],axis=1,inplace=True)
questions.dropna(inplace=True)
questions

         Question     Question + Subquestion
0   Respondent ID              Respondent ID
1      Start Date                 Start Date
2        End Date                   End Date
3   Email Address              Email Address
4      First Name                 First Name
..            ...                        ...
95    Question 29  Question 29 - Response 13
96    Question 29  Question 29 - Response 14
97    Question 30   Question 30 - Response 1
98    Question 30   Question 30 - Response 2
99    Question 30   Question 30 - Response 3

[100 rows x 2 columns]

In [41]:
dataset_merged=pd.merge(left=dataset_melted,right=questions,how="left",left_on="Question + Subquestion", right_on="Question + Subquestion")
print("Original Data:",len(dataset_melted))
print("Merged Data:",len(dataset_merged))
dataset_merged

Original Data: 17028
Merged Data: 17028

       Respondent ID  ... Question
0         5379192392  ...      NaN
1         2658722536  ...      NaN
2         4044163394  ...      NaN
3         5535865599  ...      NaN
4         3356802928  ...      NaN
...              ...  ...      ...
17023     7940065082  ...      NaN
17024     5157705612  ...      NaN
17025     9920755555  ...      NaN
17026     6638341389  ...      NaN
17027     8114622230  ...      NaN

[17028 rows x 11 columns]

In [57]:
dataset_melted.rename(columns={"Question + Subquestion":"Question_Subquestion"},inplace=True)
questions.rename(columns={"Question + Subquestion":"Question_Subquestion"},inplace=True)
dataset_merged=pysqldf(""" select dataset_melted.*,questions.Question from dataset_melted left join questions on dataset_melted.Question_Subquestion=questions.Question_Subquestion;""" )

In [58]:
dataset_merged["Question"]=dataset_melted['Question_Subquestion'].str.split('-').str[0]
dataset_merged

       Respondent ID  ...     Question
0         5379192392  ...   Question 1
1         2658722536  ...   Question 1
2         4044163394  ...   Question 1
3         5535865599  ...   Question 1
4         3356802928  ...   Question 1
...              ...  ...          ...
17023     7940065082  ...  Question 30
17024     5157705612  ...  Question 30
17025     9920755555  ...  Question 30
17026     6638341389  ...  Question 30
17027     8114622230  ...  Question 30

[17028 rows x 11 columns]

In [61]:
dataset_merged.rename(columns={"Respondent ID":"Respondent_ID"},inplace=True)
respondents=dataset_merged[dataset_merged["Answer"].notna()]
respondents=pysqldf(""" 
select Question,Count(Respondent_ID) as Respondents from respondents
group by Question;
""")

In [64]:
dataset_merged_two=pysqldf(""" select dataset_merged.*,respondents.Respondents from dataset_merged left join respondents on dataset_merged.Question=respondents.Question;""" )
dataset_merged_two

       Respondent_ID  ... Respondents
0         5379192392  ...         119
1         2658722536  ...         119
2         4044163394  ...         119
3         5535865599  ...         119
4         3356802928  ...         119
...              ...  ...         ...
17023     7940065082  ...         332
17024     5157705612  ...         332
17025     9920755555  ...         332
17026     6638341389  ...         332
17027     8114622230  ...         332

[17028 rows x 12 columns]

In [65]:
dataset_merged_two.to_excel("Output.xlsx",index=False)